.logo-banner {
    background-color: rgba(127, 127, 127, 0.4);
}

.logo-container {
    margin-right: 50px;
}

.logos {
    background-color: rgb(22, 38, 108);
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logos img {
    max-width:100%;
    max-height:100%;
}

.organization-logo {
    margin: 50px;
}

.organization-logo img {
    max-width:100%;
    max-height:100%;
}

body {
    background: url('../img/background.png');
    background-position: center top;
    background-repeat: no-repeat;
}

#footer {
    position: relative;
    width: 100%;
    background: #0D142E none repeat scroll 0% 0%;
    border-top: 1px solid #D1D2D1;
    margin: 2em 0px 0px;
    color: #F8F8F8;
    padding: 0px 0px 1em;
}

#wrapper {
    height: auto;
    min-height: 100%;
}